* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

header {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100vw;
    background-image: linear-gradient(to right,  rgb(167, 167, 28), rgb(206, 219, 134) , rgb(167, 167, 28));
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1;
    top: -0.5px;
}

h1 {
    margin-left: 7vw;
    margin-right: 7vw;
}

article {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80vw;
    height: 86vh;
    margin-right: auto;
    margin-left: auto;
    background: #cccccc;
}

main {
    height: 440px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px solid black;
    margin-top: 20px;
    margin-left: 20px;
    margin-right:20px;
    font-size: 25px;
}

p {
    text-align: center;

}

div {
    margin-left: 10px;
}

.last {
    margin-bottom: 20px;
}

body {
    background: lightcyan;
}

a {
    font-size: 15px;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 25px;
}

table, th, td {
    border: 3px solid black;
}

.pri {
    width: 140px;
}

.pro {
    width: 270px;
}

.price {
    text-align: right;
    width: 140px;
}

.product {
    text-align: center;
    width: 270px;
}

button {
    font-size: 18px;
    padding: 2px 5px 2px 5px;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 70px;
    background-image: radial-gradient(rgb(167, 167, 28), rgb(206, 219, 134));
    z-index: 1;
    border-radius: 40px 0 0 0;
}

@media (max-width:650px) {
    .not-needed {
        display: none;
    }
    header {
        justify-content: space-around;
    }
}