* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

header {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100vw;
    background-image: linear-gradient(to right,  rgb(167, 167, 28), rgb(206, 219, 134) , rgb(167, 167, 28));
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1;
    top: -0.5px;
}

h1 {
    margin-left: 7vw;
    margin-right: 7vw;
}

article {
    width: 80vw;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #cccccc;
}

section {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 360px;
    border: 5px solid black;
    border-radius: 30%;
    margin: 15px 20px 0 20px;
    align-items: center;
}

p {
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 25px;
}

body {
    background: lightcyan;
}

button {
    font-size: 18px;
    padding: 2px 5px 2px 5px;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 70px;
    background-image: radial-gradient(rgb(167, 167, 28), rgb(206, 219, 134));
    z-index: 1;
    border-radius: 40px 0 0 0;
}

input {
    height: 18px;
    width: 18px;
}

label {
    font-size: 20px;
}

@media (max-width:650px) {
    .not-needed {
        display: none;
    }
    header {
        justify-content: space-around;
    }
}

