<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jody Winters</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  </head>

  <body>
     <header>
        <h1>JODY WINTERS</h1>
        <h1>SHOP PLACE</h1>
        <h1>WEB DEV II</h1>
     </header>
      <form action = "http://localhost:5000/result" method = "POST">
         <article>
            <section>
               <img src="/static/food-pic.png" alt="Generic food picture" width="260" height="260">
               <p>An assortment of foods</p>
               <div>
                  <input type="checkbox" id="food" name="food" value="FOOD">
                  <label for="food"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/fishing-pole.png" alt="Fishing Pole" width="260" height="260">
               <p>A Fishing Pole</p>
               <div>
                  <input type="checkbox" id="Fishing Pole" name="fishing" value="FISHING POLE">
                  <label for="Fishing Pole"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/kitten.png" alt="A Kitten" width="260" height="260">
               <p>A Cute Kitten</p>
               <div>
                  <input type="checkbox" id="kitten" name="kitten" value="KITTEN">
                  <label for="kitten"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/tree.png" alt="A Tree" width="260" height="260">
               <p>A Tree</p>
               <div>
                  <input type="checkbox" id="tree" name="tree" value="TREE">
                  <label for="tree"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/motorcycle.png" alt="A Motorcycle" width="260" height="260">
               <p>A Motorcycle</p>
               <div>
                  <input type="checkbox" id="motorcycle" name="motorcycle" value="MOTORCYCLE">
                  <label for="motorcycle"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/candle.png" alt="A Candle" width="260" height="260">
               <p>A Candle</p>
               <div>
                  <input type="checkbox" id="candle" name="candle" value="CANDLE">
                  <label for="candle"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/clock.png" alt="A Grandfather Clock" width="260" height="260">
               <p>A Grandfather Clock</p>
               <div>
                  <input type="checkbox" id="clock" name="clock" value="CLOCK">
                  <label for="clock"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/box.png" alt="A Cardboard Box" width="260" height="260">
               <p>A Cardboard Box</p>
               <div>
                  <input type="checkbox" id="box" name="box" value="CARDBOARD BOX">
                  <label for="box"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/soccerball.svg" alt="A Soccerball" width="260" height="260">
               <p>A Soccerball</p>
               <div>
                  <input type="checkbox" id="soccerball" name="soccerball" value="SOCCERBALL">
                  <label for="soccerball"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/tv.png" alt="A Television" width="260" height="260">
               <p>A Television</p>
               <div>
                  <input type="checkbox" id="television" name="television" value="TELEVISION">
                  <label for="television"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/dog.png" alt="A Dog" width="260" height="260">
               <p>A Dog</p>
               <div>
                  <input type="checkbox" id="dog" name="dog" value="DOG">
                  <label for="dog"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/computer.png" alt="A Computer" width="260" height="260">
               <p>A computer</p>
               <div>
                  <input type="checkbox" id="computer" name="computer" value="COMPUTER">
                  <label for="computer"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/shirt.png" alt="A Shirt" width="260" height="260">
               <p>Assorted Clothes</p>
               <div>
                  <input type="checkbox" id="clothes" name="clothes" value="CLOTHES">
                  <label for="clothes"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/fridge.png" alt="A Refrigerator" width="260" height="260">
               <p>A Refrigerator</p>
               <div>
                  <input type="checkbox" id="refrigerator" name="refrigerator" value="REFRIGERATOR">
                  <label for="refrigerator"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/books.png" alt="Books" width="260" height="260">
               <p>Books</p>
               <div>
                  <input type="checkbox" id="books" name="books" value="BOOKS">
                  <label for="books"> ADD TO CART</label>
               </div>
            </section>
         </article>
         <div class="button">
            <button input type = "To Cart" value = "submit">To Cart</button>
         </div>
      </form>
   </body>
</html>