<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jody Winters</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  </head>

  <body>
     <header>
        <h1>JODY WINTERS</h1>
        <h1>SHOP PLACE</h1>
        <h1>WEB DEV II</h1>
     </header>
      <form action = "http://localhost:5000/result" method = "POST">
         <article>
            <section>
               <img src="/static/food-pic.png" alt="Generic food picture" width="260" height="260">
               <p>An assortment of foods</p>
               <div>
                  <input type="checkbox" id="food" name="Assorted Food" value="$139.89">
                  <label for="food"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/fishing-pole.png" alt="Fishing Pole" width="260" height="260">
               <p>A Fishing Pole</p>
               <div>
                  <input type="checkbox" id="Fishing Pole" name="Fishing Pole" value="$62.99">
                  <label for="Fishing Pole"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/kitten.png" alt="A Kitten" width="260" height="260">
               <p>A Cute Kitten</p>
               <div>
                  <input type="checkbox" id="kitten" name="Cute Kitten" value="$0.00">
                  <label for="kitten"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/tree.png" alt="A Tree" width="260" height="260">
               <p>A Tree</p>
               <div>
                  <input type="checkbox" id="tree" name="Tree (Oak?)" value="$19.67">
                  <label for="tree"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/motorcycle.png" alt="A Motorcycle" width="260" height="260">
               <p>A Motorcycle</p>
               <div>
                  <input type="checkbox" id="motorcycle" name="Motorcycle" value="$2,580.90">
                  <label for="motorcycle"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/candle.png" alt="A Candle" width="260" height="260">
               <p>A Candle</p>
               <div>
                  <input type="checkbox" id="candle" name="Candle" value="$15.23">
                  <label for="candle"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/clock.png" alt="A Grandfather Clock" width="260" height="260">
               <p>A Grandfather Clock</p>
               <div>
                  <input type="checkbox" id="clock" name="Grandfather Clock" value="$456.32">
                  <label for="clock"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/box.png" alt="A Cardboard Box" width="260" height="260">
               <p>A Cardboard Box</p>
               <div>
                  <input type="checkbox" id="box" name="Cardboard Box" value="$0.99">
                  <label for="box"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/soccerball.svg" alt="A Soccerball" width="260" height="260">
               <p>A Soccerball</p>
               <div>
                  <input type="checkbox" id="soccerball" name="Soccerball" value="$10.45">
                  <label for="soccerball"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/tv.png" alt="A Television" width="260" height="260">
               <p>A Television</p>
               <div>
                  <input type="checkbox" id="television" name="television" value="$239.90"
                  <label for="television"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/dog.png" alt="A Dog" width="260" height="260">
               <p>A Dog</p>
               <div>
                  <input type="checkbox" id="dog" name="Doggo" value="$60.00">
                  <label for="dog"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/computer.png" alt="A Computer" width="260" height="260">
               <p>A computer</p>
               <div>
                  <input type="checkbox" id="computer" name="Computer" value="$314.66">
                  <label for="computer"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/shirt.png" alt="A Shirt" width="260" height="260">
               <p>Assorted Clothes</p>
               <div>
                  <input type="checkbox" id="clothes" name="Assorted Clothing" value="$87.54">
                  <label for="clothes"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/fridge.png" alt="A Refrigerator" width="260" height="260">
               <p>A Refrigerator</p>
               <div>
                  <input type="checkbox" id="refrigerator" name="Refrigerator" value="$687.00">
                  <label for="refrigerator"> ADD TO CART</label>
               </div>
            </section>

            <section>
               <img src="/static/books.png" alt="Books" width="260" height="260">
               <p>Assorted Books</p>
               <div>
                  <input type="checkbox" id="books" name="Assorted Books" value="$35.98">
                  <label for="books"> ADD TO CART</label>
               </div>
            </section>
         </article>
         <div class="button">
            <button input type = "To Cart" value = "submit">To Cart</button>
         </div>
      </form>
   </body>
</html>