<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jody Winters</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  </head>

  <body>
     <header>
        <h1>JODY WINTERS</h1>
        <h1>SHOP PLACE</h1>
        <h1>WEB DEV II</h1>
     </header>
      <form action = "http://localhost:5000/result" method = "POST">
         <section>
            <img src="/static/food-pic.png" alt="Generic food picture" width="260" height="260">
            <p>An assortment of foods</p>
            <div>
               <input type="checkbox" id="food" name="food" value="FOOD">
               <label for="food"> ADD TO CART</label>
            </div>
         </section>

         <section>
            <img src="/static/fishing-pole.png" alt="Fishing Pole" width="260" height="260">
            <p>A Fishing Pole</p>
            <div>
               <input type="checkbox" id="Fishing Pole" name="fishing" value="FISHING POLE">
               <label for="Fishing Pole"> ADD TO CART</label>
            </div>
         </section>

         <section>
            <img src="/static/kitten.png" alt="A Kitten" width="260" height="260">
            <p>A Cute Kitten</p>
            <div>
               <input type="checkbox" id="kitten" name="kitten" value="KITTEN">
               <label for="kitten"> ADD TO CART</label>
            </div>
         </section>

         <section>
            <img src="/static/tree.png" alt="A Tree" width="260" height="260">
            <p>A Tree</p>
            <div>
               <input type="checkbox" id="tree" name="tree" value="TREE">
               <label for="tree"> ADD TO CART</label>
            </div>
         </section>

         <section>
            <img src="/static/motorcycle.png" alt="A Motorcycle" width="260" height="260">
            <p>A Motorcycle</p>
            <div>
               <input type="checkbox" id="motorcycle" name="motorcycle" value="MOTORCYCLE">
               <label for="motorcycle"> ADD TO CART</label>
            </div>
         </section>

         <section>
            <img src="/static/candle.png" alt="A Candle" width="260" height="260">
            <p>A Candle</p>
            <div>
               <input type="checkbox" id="candle" name="candle" value="CANDLE">
               <label for="candle"> ADD TO CART</label>
            </div>
         </section>

         <section>
            <img src="/static/washboard.png" alt="A Washboard" width="260" height="260">
            <p>A Washboard</p>
            <div>
               <input type="checkbox" id="washboard" name="washboard" value="WASHBOARD">
               <label for="washboard"> ADD TO CART</label>
            </div>
         </section>

         <section>
            <img src="/static/kitten.png" alt="A Kitten" width="260" height="260">
            <p>A Cute Kitten</p>
            <div>
               <input type="checkbox" id="kitten" name="Purchase" value="KITTEN">
               <label for="kitten"> ADD TO CART</label>
            </div>
         </section>

         <section>
            <img src="/static/kitten.png" alt="A Kitten" width="260" height="260">
            <p>A Cute Kitten</p>
            <div>
               <input type="checkbox" id="kitten" name="Purchase" value="KITTEN">
               <label for="kitten"> ADD TO CART</label>
            </div>
         </section>

         <section>
            <img src="/static/kitten.png" alt="A Kitten" width="260" height="260">
            <p>A Cute Kitten</p>
            <div>
               <input type="checkbox" id="kitten" name="Purchase" value="KITTEN">
               <label for="kitten"> ADD TO CART</label>
            </div>
         </section>

         <section>
            <img src="/static/kitten.png" alt="A Kitten" width="260" height="260">
            <p>A Cute Kitten</p>
            <div>
               <input type="checkbox" id="kitten" name="Purchase" value="KITTEN">
               <label for="kitten"> ADD TO CART</label>
            </div>
         </section>

         <section>
            <img src="/static/kitten.png" alt="A Kitten" width="260" height="260">
            <p>A Cute Kitten</p>
            <div>
               <input type="checkbox" id="kitten" name="Purchase" value="KITTEN">
               <label for="kitten"> ADD TO CART</label>
            </div>
         </section>

         <section>
            <img src="/static/kitten.png" alt="A Kitten" width="260" height="260">
            <p>A Cute Kitten</p>
            <div>
               <input type="checkbox" id="kitten" name="Purchase" value="KITTEN">
               <label for="kitten"> ADD TO CART</label>
            </div>
         </section>

         <section>
            <img src="/static/kitten.png" alt="A Kitten" width="260" height="260">
            <p>A Cute Kitten</p>
            <div>
               <input type="checkbox" id="kitten" name="Purchase" value="KITTEN">
               <label for="kitten"> ADD TO CART</label>
            </div>
         </section>

         <section>
            <img src="/static/kitten.png" alt="A Kitten" width="260" height="260">
            <p>A Cute Kitten</p>
            <div>
               <input type="checkbox" id="kitten" name="Purchase" value="KITTEN">
               <label for="kitten"> ADD TO CART</label>
            </div>
         </section>
         
         <!--<p>Physics <input type = "text" name = "Physics" /></p>
         <p>Chemistry <input type = "text" name = "chemistry" /></p>
         <p>Maths <input type ="text" name = "Mathematics" /></p> -->
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>